<div class="row equal">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Social Activity</div>
      <div class="card-body">
        <app-social-activity-chart></app-social-activity-chart>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card max-height">
      <div class="card-header">Keywords</div>
      <app-keywords></app-keywords>
    </div>
  </div>
</div>

<div class="row equal">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Social Reach</div>
      <div class="card-body">
        <app-social-reach-chart></app-social-reach-chart>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Engagement</div>
      <div class="card-body">
        <app-engagement-chart></app-engagement-chart>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Network</div>
      <div class="card-body">
        <app-network-chart></app-network-chart>
      </div>
    </div>
  </div>
</div>

<div class="row equal">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Twitter Topic Analysis</div>
      <div class="card-body">
        <app-twitter-topic-chart></app-twitter-topic-chart>
      </div>
    </div>
  </div>
</div>