<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">SNA Explorer</h3>
      </div>
      <div class="panel-body">
        Chart here
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Keywords</h3>
      </div>
      <ul class="list-group">
        <li *ngFor="let keyword of keywords" class="list-group-item">
          {{keyword.word}}
          <span class="badge">{{keyword.total}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>