<div class="row equal">
  <div class="col-md-8">
    <div class="panel panel-primary full-height">
      <div class="panel-heading">
        <h3 class="panel-title">Social Activity</h3>
      </div>
      <div class="panel-body">
        <!-- <app-social-activity-chart></app-social-activity-chart> -->
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary full-height">
      <div class="panel-heading">
        <h3 class="panel-title">Keywords</h3>
      </div>
      <app-keywords></app-keywords>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Social Reach</h3>
      </div>
      <div class="panel-body">
        <app-social-reach-chart></app-social-reach-chart>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Engagement</h3>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>