.panel-body {
  overflow: auto;
}

.equal {  
  display: -webkit-flex;
  display: flex;
}

.full-height {
  min-height: 95%;
}

.keywords {
  max-height: 30rem;
  overflow-y: scroll;
}

.social-activity {
  max-height: 30rem;
  overflow-y: hidden;
}

.card {
  margin-bottom: 2rem;
}

.vertical-center {
  display: flex;
  align-items: center;
}