.panel-body {
  overflow: auto;
}

.equal {  
  display: -webkit-flex;
  display: flex;
}

.full-height {
  min-height: 95%;
}

.card {
  margin-bottom: 2rem;
}

.vertical-center {
  display: flex;
  align-items: center;
}