<!-- Loading Page -->
<div *ngIf="isLoading" class="loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

<!-- Social (Student) Page -->
<div *ngIf="!isLoading" class="social-student-container">
  <!-- Student Task -->
  <!-- Shows task provided by the instructor -->
  <div class="student-task-container" (click)="taskCollapse = !taskCollapse">
    <div class="student-task-heading-container">
      <h5>Week 7 Task</h5>
      <i class="fa fa-question-circle-o student-task-heading-hint" [ngbPopover]="taskHint" 
      triggers="mouseenter:mouseleave" container="body" placement="left"></i>
    </div>
    <div class="student-task-description" [ngbCollapse]="taskCollapse">
      <span>
        Lorem ipsum dolor sit amet, eos dolore aperiam admodum id, per ea nibh accusam accommodare.
        Eos vidit antiopam constituam cu. Simul elitr in cum, usu ne dolor integre minimum. At simul sapientem per,
        sit vocibus reformidans an. Probo aliquip prompta ad vis. Eum justo harum in, nihil nobis iudico ius no,
        minimum molestiae eos no.
      </span>
    </div>
  </div>

  <!-- Uses if statements to determine which components are shown in each row -->
  <!-- Selections are made using the selection modal -->
  <div class="social-student-components">
    <!-- Top row components -->
    <div class="row">
      <div *ngIf="content.socialActivity" class="col-md-8">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Activity
          </div>
          <app-social-activity-chart [height]="300"></app-social-activity-chart>
        </div>
      </div>

      <div *ngIf="content.keywords" class="col-md-4">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Keywords
          </div>
          <app-keywords></app-keywords>
        </div>
      </div>

      <div *ngIf="content.socialReach" class="col-md-4">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Reach
          </div>
          <app-social-reach-chart [height]="310"></app-social-reach-chart>
        </div>
      </div>

      <div *ngIf="content.engagement" class="col-md-4">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Engagement
          </div>
          <app-engagement-chart [height]="250"></app-engagement-chart>
        </div>
      </div>

      <div *ngIf="content.network" class="col-md-4">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Network
          </div>
          <app-network-chart [height]="315" [width]="445"></app-network-chart>
        </div>
      </div>

      <div *ngIf="content.twitterTopic" class="col-md-12">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Twitter Topic Analysis
          </div>
          <app-twitter-topic-chart></app-twitter-topic-chart>
        </div>
      </div>

      <div *ngIf="!rowFull" [class]="emptyColSize">
        <div class="card component-container empty-card" (click)="open(content1)">
          <h3 class="card-title">Click here to select your content</h3>
          <p>{{emptySpaceText}}</p>
        </div>
      </div>
    </div>

    <!-- Bottom row components -->
    <div class="row">
      <div *ngIf="content.socialActivity2" class="col-md-8">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Activity
          </div>
          <app-social-activity-chart [height]="300"></app-social-activity-chart>
        </div>
      </div>

      <div *ngIf="content.keywords2" class="col-md-4">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Keywords
          </div>
          <app-keywords></app-keywords>
        </div>
      </div>

      <div *ngIf="content.socialReach2" class="col-md-4">      
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Reach
          </div>
          <app-social-reach-chart [height]="310"></app-social-reach-chart>
        </div>
      </div>

      <div *ngIf="content.engagement2" class="col-md-4">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Engagement
          </div>
          <app-engagement-chart [height]="250"></app-engagement-chart>
        </div>
      </div>

      <div *ngIf="content.network2" class="col-md-4">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Network
          </div>
          <app-network-chart [height]="315" [width]="445"></app-network-chart>
        </div>
      </div>

      <div *ngIf="content.twitterTopic2" class="col-md-12">
        <div class="card component-container">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Twitter Topic Analysis
          </div>
          <app-twitter-topic-chart></app-twitter-topic-chart>
        </div>
      </div>

      <div *ngIf="!rowFull2" [class]="emptyColSize2">
        <div class="card component-container empty-card" (click)="open(content2)">
          <h3 class="card-title">Click here to select your content</h3>
          <p>{{emptySpaceText2}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="answer-container">
    <div class="answer-heading-container">
      <h5>Task Answer</h5>
      <i class="fa fa-question-circle-o student-task-heading-hint" [ngbPopover]="answerHint" 
      triggers="mouseenter:mouseleave" container="body" placement="left"></i>
    </div>
    <div class="answer-input-container">
      <textarea type="text" class="form-control" placeholder="Write your answer here..." rows="3"></textarea>
    </div>
    <div class="answer-btn-container">
      <button type="button" class="btn btn-secondary answer-btn">Clear</button>
      <button type="button" class="btn btn-primary answer-btn">Save</button>
    </div>
  </div>
</div>

<!-- Top Row Modal -->
<!-- Selection for first row components -->
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select Your Content</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Select components to fill up your first row</p>

    <!-- Selections are divided into three categories - basic, advanced, and custom -->
    <ngb-tabset>
      <ngb-tab title="Basic">
        <ng-template ngbTabContent>
          <div class="content-selection-tab">
            <button *ngIf="content.socialActivityCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect('socialActivity')" [class.active]="content.socialActivity" [disabled]="socialActivityDisabled"
            ngbPopover="Requires 2 spaces" triggers="mouseenter:mouseleave" container="body" placement="auto">Social Activity</button>
        
            <button *ngIf="content.keywordsCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect('keywords')" [class.active]="content.keywords" [disabled]="keywordsDisabled"
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Keywords</button>
        
            <button *ngIf="content.socialReachCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect('socialReach')" [class.active]="content.socialReach" [disabled]="socialReachDisabled"
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Social Reach</button>
        
            <button *ngIf="content.engagementCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect('engagement')" [class.active]="content.engagement" [disabled]="engagementDisabled"
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Engagement</button>
        
            <button *ngIf="content.networkCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect('network')" [class.active]="content.network" [disabled]="networkDisabled"
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Network</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Advanced">
        <ng-template ngbTabContent>
          <div class="content-selection-tab">
            <button *ngIf="content.twitterTopicCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect('twitterTopic')" [class.active]="content.twitterTopic" [disabled]="twitterTopicDisabled"
            ngbPopover="Requires 3 spaces" triggers="mouseenter:mouseleave" container="body" placement="auto">Twitter Topic Analysis</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Custom">
        <ng-template ngbTabContent>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div class="modal-footer">
    <!-- Progress bar to show amount of occupied space in the first row -->
    <span class="progressbar">
      <ngb-progressbar [value]="occupiedSpace" [type]="progressType" [max]="3">
        <span *ngIf="occupiedSpace > 0"><b>{{occupiedSpace}} of 3</b>&nbsp;spaces occupied</span>
      </ngb-progressbar>
    </span>
  </div>
</ng-template>

<!-- Bottom Row Modal -->
<!-- Selection for second row components -->
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select Your Content</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Select components to fill up your second row</p>

    <!-- Selections are divided into three categories - basic, advanced, and custom -->
    <ngb-tabset>
      <ngb-tab title="Basic">
        <ng-template ngbTabContent>
          <div class="content-selection-tab">
            <button *ngIf="content.socialActivityCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect2('socialActivity')" [class.active]="content.socialActivity2" [disabled]="socialActivityDisabled2"
            ngbPopover="Requires 2 spaces" triggers="mouseenter:mouseleave" container="body" placement="auto">Social Activity</button>
        
            <button *ngIf="content.keywordsCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect2('keywords')" [class.active]="content.keywords2" [disabled]="keywordsDisabled2" 
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Keywords</button>
        
            <button *ngIf="content.socialReachCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect2('socialReach')" [class.active]="content.socialReach2" [disabled]="socialReachDisabled2"
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Social Reach</button>
        
            <button *ngIf="content.engagementCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect2('engagement')" [class.active]="content.engagement2" [disabled]="engagementDisabled2"
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Engagement</button>
        
            <button *ngIf="content.networkCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect2('network')" [class.active]="content.network2" [disabled]="networkDisabled2"
            ngbPopover="Requires 1 space" triggers="mouseenter:mouseleave" container="body" placement="auto">Network</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Advanced">
        <ng-template ngbTabContent>
          <div class="content-selection-tab">
            <button *ngIf="content.twitterTopicCheck" type="button" class="btn btn-outline-primary content-btn"
            (click)="onSelect2('twitterTopic')" [class.active]="content.twitterTopic2" [disabled]="twitterTopicDisabled2"
            ngbPopover="Requires 3 spaces" triggers="mouseenter:mouseleave" container="body" placement="auto">Twitter Topic Analysis</button>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Custom">
        <ng-template ngbTabContent>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div class="modal-footer">
    <!-- Progress bar to show amount of occupied space in the second row -->
    <span class="progressbar">
      <ngb-progressbar [value]="occupiedSpace2" [type]="progressType2" [max]="3">
          <span *ngIf="occupiedSpace2 > 0"><b>{{occupiedSpace2}} of 3</b>&nbsp;spaces occupied</span>
      </ngb-progressbar>
    </span>
  </div>
</ng-template>

