.explore-container {
  padding: 1rem;
}

.search-container {
  margin-top: 17.5%;
  margin-right: 25%;
  margin-left: 25%;
}

.search-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.search-nav-container {
  padding: 1rem;
  background-color: #f2f2f2;
}

.search-input-nav {
  width: 60%;
  margin-left: 1rem;
}

.explore-back-btn {
  margin-left: 1rem;
}

.explore-topic-btn {
  margin-right: 1rem;
}

.people-result-container {
  padding: 1rem;
  padding-top: 1.5rem;
}

.search-result-text {
  font-size: 1.25rem;
}

.people-result {
  margin-top: 1rem;
}

.people-card-container {
  margin-bottom: 1rem;
}

.people-card {
  height: 100%;
}

.inline-container {
  display: flex;
  justify-content: space-between;
}

.people-content {
  padding: 0.25rem;
  padding-top: 1rem;
}

.people-card-title {
  margin-top: 0.25rem;
}

.people-card-btn {
  height: 2rem;
}

.loading {
  flex: 1;
  display: flex;
  height: 75%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.activities-container {
  padding: 0;
  max-height: 30rem;
  overflow-y: scroll;
}

.activities-social-icon {
  width: 1rem;
}

.connect-checkbox-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.connect-modal-img {
  height: 15rem;
  background: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=318%C3%97180&w=318&h=180) no-repeat center;
  background-size: cover;
  border-radius: 0.25rem;
}

.connect-modal-component {
  margin-bottom: 1rem;
}

.connect-modal-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.person-chart-content {
  width: 13.5rem;
}

@media (max-width: 768px) {
  .search-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25%;
  }

  .explore-topic-btn {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}