.explore-container {
  padding: 1rem;
}

.search-container {
  margin-top: 17.5%;
  margin-right: 25%;
  margin-left: 25%;
}

.search-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.search-nav-container {
  padding: 1rem;
  background-color: #f2f2f2;
}

.search-input-nav {
  width: 60%;
  margin-left: 1rem;
}

.explore-back-btn {
  margin-left: 1rem;
}

.people-result-container {
  padding: 1rem;
  padding-top: 1.5rem;
}

.search-result-text {
  font-size: 1.25rem;
}

.people-result {
  margin: 1rem;
  margin-top: 1.5rem;
  margin-left: 0rem;
}

.people-card {
  padding: 0;
}

.people-card-header {
  display: flex;
  justify-content: space-between;
}

.people-content {
  padding: 0.25rem;
  padding-top: 1rem;
}

.people-card-title {
  margin-top: 0.25rem;
}

.connect-btn {
  height: 2rem;
}