.containers-profile-header {
  background-color: #ededed;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.containers-profile-header-left {
  display: flex;
}

.containers-profile-header-right {
  display: flex;
  flex-direction: column;
}

.containers-profile-header-title-container {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.containers-profile-header-social-container {
  display: flex;
}

.containers-profile-header-message-btn {
  margin-top: 1.1rem;
}

.containers-profile-name {
  font-size: 2rem;
}

.containers-profile-role {
  font-size: 1.25rem;
}

.containers-profile-company {
  font-size: 1rem;
}

.containers-profile-img {
  font-size: 6.5rem;
}

.containers-profile-social-icon {
  cursor: pointer;
}

.containers-profile-body {
  padding: 1rem;
  padding-left: 3%;
  padding-right: 3%;
}

.containers-profile-panel {
  padding: 1rem;
}

.containers-profile-portfolio {
  padding: 1.25rem;
  padding-bottom: 0;
}

.containers-profile-portfolio-title {
  margin-bottom: 1rem;
}

.containers-profile-component-container {
  height: 18rem;
  margin-bottom: 1rem;
}

.containers-profile-component-body {
  height: 16rem;
  overflow: auto;
}

.containers-profile-analytics-empty {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containers-profile-portfolio-container {
  margin-left: 0;
}

.containers-profile-portfolio-item-container {
  padding-left: 0;
  margin-bottom: 1rem;
}

.containers-profile-portfolio-item-img {
  height: 7.75rem;
}

.containers-profile-portfolio-item-details {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.containers-profile-portfolio-item-detail {
  margin-right: 0.75rem;
}

.containers-profile-portfolio-item-empty {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containers-profile-analytics-card-header {
  cursor: pointer;
}

.containers-profile-analytics-btn {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .containers-profile-header-right {
    margin-top: 2rem;
  }
}