.containers-profile-header {
  height: 12.5rem;
  background-color: #ededed;
  padding-top: 2.75rem;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

.containers-profile-header-left {
  display: flex;
}

.containers-profile-header-right {
  display: flex;
  flex-direction: column;
}

.containers-profile-header-title-container {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.containers-profile-header-social-container {
  display: flex;
}

.containers-profile-header-message-btn {
  margin-top: 1.1rem;
}

.containers-profile-name {
  font-size: 2rem;
}

.containers-profile-role {
  font-size: 1.25rem;
}

.containers-profile-company {
  font-size: 1rem;
}

.containers-profile-img {
  font-size: 6.5rem;
}

.containers-profile-social-icon {
  cursor: pointer;
}

.containers-profile-body {
  padding: 2rem;
  padding-left: 3%;
  padding-right: 3%;
}

.containers-profile-panel {
  padding: 1rem;
}

.containers-profile-portfolio {
  margin-top: 2rem;
}