<div>
  <div class="containers-profile-header row">
    <div class="containers-profile-header-left">
      <div class="containers-profile-img-container">
        <i class="fa fa-user-circle containers-profile-img"></i>
      </div>
      <div class="containers-profile-header-title-container">
        <h2 class="containers-profile-name">Andy Wilson</h2>
        <span class="containers-profile-role">Data Analyst</span>
        <span class="containers-profile-company">University of Technology Sydney - MDSI</span>
      </div>
    </div>
    <div class="containers-profile-header-right">
      <div class="containers-profile-header-social-container">
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook-f fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-stack-overflow fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-slack fa-stack-1x"></i>
        </span>
      </div>
      <button type="button" class="btn btn-primary containers-profile-header-message-btn">
        <i class="fa fa-comments"></i>
        Message
      </button>
    </div>
  </div>

  <div class="containers-profile-body">
    <div class="containers-profile-info row">
      <div class="col-md-6">
        <div class="card containers-profile-component-container">
          <div class="card-header">About Me</div>
          <div class="card-body containers-profile-component-body">
            Lorem ipsum dolor sit amet, mei in regione feugait, vis te civibus iudicabit consequuntur. 
            Doming dignissim eum an, denique reprehendunt cu per. Viderer appetere salutandi eam no, ut nibh iusto errem quo. 
            Usu aliquam euripidis at. Ius novum quaestio suscipiantur in. <br /><br />
            Pro sumo quaerendum ut, vel ut ullum nobis. Vim accusata recusabo ea, ad epicuri vulputate est, 
            nam ubique ocurreret id. Fabulas delenit mei at, et pri labore nostrum facilisi. Choro cotidieque dissentiunt mei id.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card containers-profile-component-container">
          <div class="card-header">My Analytics</div>
          <div class="card-body containers-profile-analytics-empty">
            <h3 class="card-title">Click here to select your content</h3>
            <p>2 of 2 spaces left</p>
          </div>
        </div>
      </div>
    </div>
    <div class="containers-profile-portfolio card">
      <h5 class="containers-profile-portfolio-title">My Portfolio</h5>
      <div class="row containers-profile-portfolio-container">
        <div class="col-md-3 containers-profile-portfolio-item-container">
          <div class="card">
            <img class="card-img-top containers-profile-portfolio-item-img" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=318%C3%97130&w=318&h=130" alt="Card image cap">
            <div class="containers-profile-portfolio-item-details">
              <div class="containers-profile-portfolio-item-detail">
                <i class="fa fa-eye"></i>
                <span>254</span>
              </div>
              <div class="containers-profile-portfolio-item-detail">
                <i class="fa fa-heart"></i>
                <span>53</span>
              </div>
              <div>
                <i class="fa fa-share-alt"></i>
                <span>12</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 containers-profile-portfolio-item-container">
          <div class="card">
            <img class="card-img-top containers-profile-portfolio-item-img" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=318%C3%97130&w=318&h=130" alt="Card image cap">
            <div class="containers-profile-portfolio-item-details">
              <div class="containers-profile-portfolio-item-detail">
                <i class="fa fa-eye"></i>
                <span>152</span>
              </div>
              <div class="containers-profile-portfolio-item-detail">
                <i class="fa fa-heart"></i>
                <span>62</span>
              </div>
              <div>
                <i class="fa fa-share-alt"></i>
                <span>25</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>