<div>
  <div class="containers-profile-header">
    <div class="containers-profile-header-left">
      <div class="containers-profile-img-container">
        <i class="fa fa-user-circle containers-profile-img"></i>
      </div>
      <div class="containers-profile-header-title-container">
        <h1 class="containers-profile-name">Andy Wilson</h1>
        <span class="containers-profile-role">Data Analyst</span>
        <span class="containers-profile-company">University of Technology Sydney - MDSI</span>
      </div>
    </div>
    <div class="containers-profile-header-right">
      <div class="containers-profile-header-social-container">
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook-f fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-stack-overflow fa-stack-1x"></i>
        </span>
        <span class="fa-stack fa-lg containers-profile-social-icon">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-slack fa-stack-1x"></i>
        </span>
      </div>
      <button type="button" class="btn btn-outline-primary containers-profile-header-message-btn">
        <i class="fa fa-comments"></i>
        Message
      </button>
    </div>
  </div>
</div>