.list-group-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.badge {
  line-height: inherit;
}

.keywords li {
  cursor: pointer;
  position: relative;
  display: inline;
}

.keywords li:hover {
  background-color: #DDDDDD;
}

.selected {
  background-color: #BBBBBB;
  color: white;
}

.inline-right {
  position: absolute;
  display: inline;
  right: 0;
  margin-right: 1.25rem;
}