.panel-body {
  overflow: auto;
}

.equal {  
  display: -webkit-flex;
  display: flex;
}

.full-height {
  min-height: 95%;
}

.keywords {
  max-height: 30rem;
  overflow-y: scroll;
}

.social-activity {
  max-height: 30rem;
  overflow-y: hidden;
}

.card {
  margin-bottom: 2rem;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.content-btn {
  margin-right: 1rem;
}

.content {
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 0;
}

.sidebar {
  padding: 1em;
  background-color: grey;
  height: 100%;
  min-height: 100vh;
}

h4 {
  color: white;
}

.sidebar-container {
  padding-right: 0;
}

.social-container {
  max-width: 100%;
}