.loading {
  flex: 1;
  display: flex;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.component-body {
  height: 19.5rem;
  overflow: auto;
  padding: 0;
}

.card {
  margin-bottom: 1rem;
}

.content-btn {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.content {
  padding: 1rem;
  padding-left: 0.5rem;
  padding-right: 0;
  margin-left: 15rem;
  position: fixed;
}

.sidebar {
  padding: 1rem;
  padding-right: 2rem;
  background-color: #f2f2f2;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  max-width: 13.5rem;
}

.sidebar-content {
  max-width: 100%;
}

.sidebar-container {
  padding-right: 0;
}

.social-container {
  max-width: 100%;
}

.content-manager {
  margin-top: 1.5rem;
}

.content-manager-section {
  margin-bottom: 1rem;
}

.empty-card {
  cursor: pointer;
  height: 22.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.header-click {
  cursor: pointer;
}

.progressbar {
  width: 100%;
}