<div class="row social-container">
  <div class="col-md-2 sidebar-container">
    <div class="sidebar">
      <div class="sidebar-content">
        <h5>Content Manager</h5>
        <div class="content-manager">
          <div class="content-manager-section">
            <h6>Activity</h6>
            <mat-checkbox>Social activity</mat-checkbox>
            <mat-checkbox>Keywords</mat-checkbox>
          </div>
          <div class="content-manager-section">
          <h6>Network</h6>
            <mat-checkbox>Social reach</mat-checkbox>
            <mat-checkbox>Engagement</mat-checkbox>
            <mat-checkbox>Network</mat-checkbox>
          </div>
          <div class="content-manager-section">
            <h6>Topic</h6>
            <mat-checkbox>Twitter topic analysis</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 content">
    <div *ngIf="!rowOccupied" class="card empty-card" (click)="open(content1)">
      <h3 class="card-title">Click here to choose your content</h3>
    </div>

    <div class="card empty-card" (click)="open(content2)">
      <h3 class="card-title">Click here to choose your content</h3>
    </div>

    <!-- <div *ngIf="socialActivityGroup">
      <div class="row equal">
        <div class="col-md-8">
          <div class="card full-height">
            <div class="card-header">Social Activity</div>
            <div class="card-body social-activity">
              <app-social-activity-chart></app-social-activity-chart>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card full-height">
            <div class="card-header">Keywords</div>
            <div class="keywords">
              <app-keywords></app-keywords>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="networkAnalysisGroup">
      <div class="row equal">
        <div class="col-md-4">
          <div class="card full-height">
            <div class="card-header">Social Reach</div>
            <div class="card-body">
              <app-social-reach-chart></app-social-reach-chart>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card full-height">
            <div class="card-header">Engagement</div>
            <div class="card-body text-center">
              <app-engagement-chart></app-engagement-chart>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card full-height">
            <div class="card-header">Network</div>
            <div class="card-body text-center">
              <app-network-chart></app-network-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="twitterTopicAnalysis">
      <div class="row equal">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Twitter Topic Analysis</div>
            <div class="card-body">
              <app-twitter-topic-chart></app-twitter-topic-chart>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Choose Your Content</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Choose components to fill up your first row</p>
    <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect('socialActivity')"
    [class.active]="socialActivityGroup" [disabled]="socialActivityDisabled">Social Activity</button>
    <button type="button" class="btn btn-outline-primary content-btn">Keywords</button>
    <button type="button" class="btn btn-outline-primary content-btn">Social Reach</button>
    <button type="button" class="btn btn-outline-primary content-btn">Engagement</button>
    <button type="button" class="btn btn-outline-primary content-btn">Network</button>
    <button type="button" class="btn btn-outline-primary content-btn">Twitter Topic Analysis</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Choose Your Content</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Choose components to fill up your second row</p>
      <button type="button" class="btn btn-outline-primary content-btn">Social Activity</button>
      <button type="button" class="btn btn-outline-primary content-btn">Keywords</button>
      <button type="button" class="btn btn-outline-primary content-btn">Social Reach</button>
      <button type="button" class="btn btn-outline-primary content-btn">Engagement</button>
      <button type="button" class="btn btn-outline-primary content-btn">Network</button>
      <button type="button" class="btn btn-outline-primary content-btn">Twitter Topic Analysis</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>