<div class="row social-container">
  <div class="col-md-2 sidebar-container">
    <div class="sidebar">
      <div class="sidebar-content">
        <h5 [ngbPopover]="contentManDesc" triggers="mouseenter:mouseleave" container="body" placement="right">Content Manager</h5>
        <div class="content-manager">
          <div class="content-manager-section">
            <h6>Activity</h6>
            <mat-checkbox [(checked)]="socialActivityCheck" (change)="onCheck('socialActivity')" [ngbPopover]="chartDesc"
            triggers="mouseenter:mouseleave" container="body" placement="right">Social activity</mat-checkbox>
            <mat-checkbox [(checked)]="keywordsCheck" (change)="onCheck('keywords')" [ngbPopover]="chartDesc"
            triggers="mouseenter:mouseleave" container="body" placement="right">Keywords</mat-checkbox>
          </div>
          <div class="content-manager-section">
          <h6>Network</h6>
            <mat-checkbox [(checked)]="socialReachCheck" (change)="onCheck('socialReach')" [ngbPopover]="chartDesc"
            triggers="mouseenter:mouseleave" container="body" placement="right">Social reach</mat-checkbox>
            <mat-checkbox [(checked)]="engagementCheck" (change)="onCheck('engagement')" [ngbPopover]="chartDesc"
            triggers="mouseenter:mouseleave" container="body" placement="right">Engagement</mat-checkbox>
            <mat-checkbox [(checked)]="networkCheck" (change)="onCheck('network')" [ngbPopover]="chartDesc"
            triggers="mouseenter:mouseleave" container="body" placement="right">Network</mat-checkbox>
          </div>
          <div class="content-manager-section">
            <h6>Topic</h6>
            <mat-checkbox [(checked)]="twitterTopicCheck" (change)="onCheck('twitterTopic')" [ngbPopover]="chartDesc"
            triggers="mouseenter:mouseleave" container="body" placement="right">Twitter topic analysis</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 content">
    <div *ngIf="!rowOccupied" class="card empty-card" (click)="open(content1)">
      <h3 class="card-title">Click here to select your content</h3>
      <p>Maximum of 3 spaces</p>
    </div>
    <div class="row equal">
      <div *ngIf="socialActivity" class="col-md-8">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Activity
          </div>
          <app-social-activity-chart></app-social-activity-chart>
        </div>
      </div>
      <div *ngIf="keywords" class="col-md-4">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Keywords
          </div>
          <app-keywords></app-keywords>
        </div>
      </div>
      <div *ngIf="socialReach" class="col-md-4">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Reach
          </div>
          <app-social-reach-chart></app-social-reach-chart>
        </div>
      </div>
      <div *ngIf="engagement" class="col-md-4">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Engagement
          </div>
          <app-engagement-chart></app-engagement-chart>
        </div>
      </div>
      <div *ngIf="network" class="col-md-4">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Network
          </div>
          <app-network-chart></app-network-chart>
        </div>
      </div>
      <div *ngIf="twitterTopic" class="col-md-12">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content1)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Twitter Topic Analysis
          </div>
          <app-twitter-topic-chart></app-twitter-topic-chart>
        </div>
      </div>
    </div>
    
    <div *ngIf="!rowOccupied2" class="card empty-card" (click)="open(content2)">
      <h3 class="card-title">Click here to select your content</h3>
      <p>Maximum of 3 spaces</p>
    </div>
    <div class="row equal">
      <div *ngIf="socialActivity2" class="col-md-8">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Activity
          </div>
          <app-social-activity-chart></app-social-activity-chart>
        </div>
      </div>
      <div *ngIf="keywords2" class="col-md-4">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Keywords
          </div>
          <app-keywords></app-keywords>
        </div>
      </div>
      <div *ngIf="socialReach2" class="col-md-4">      
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Social Reach
          </div>
          <app-social-reach-chart></app-social-reach-chart>
        </div>
      </div>
      <div *ngIf="engagement2" class="col-md-4">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Engagement
          </div>
          <app-engagement-chart></app-engagement-chart>
        </div>
      </div>
      <div *ngIf="network2" class="col-md-4">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Network
          </div>
          <app-network-chart></app-network-chart>
        </div>
      </div>
      <div *ngIf="twitterTopic2" class="col-md-12">
        <div class="card full-height">
          <div class="card-header header-click" (click)="open(content2)" [ngbPopover]="chartDesc"
          triggers="mouseenter:mouseleave" container="body" placement="auto">
            Twitter Topic Analysis
          </div>
          <app-twitter-topic-chart></app-twitter-topic-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Select Your Content</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Select components to fill up your first row</p>
    <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect('socialActivity')"
    [class.active]="socialActivity" [disabled]="socialActivityDisabled">Social Activity</button>
    <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect('keywords')"
    [class.active]="keywords" [disabled]="keywordsDisabled">Keywords</button>
    <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect('socialReach')"
    [class.active]="socialReach" [disabled]="socialReachDisabled">Social Reach</button>
    <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect('engagement')"
    [class.active]="engagement" [disabled]="engagementDisabled">Engagement</button>
    <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect('network')"
    [class.active]="network" [disabled]="networkDisabled">Network</button>
    <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect('twitterTopic')"
    [class.active]="twitterTopic" [disabled]="twitterTopicDisabled">Twitter Topic Analysis</button>
  </div>
  <div class="modal-footer">
    <span class="progressbar">
      <ngb-progressbar [value]="occupiedSpace" [type]="progressType" [max]="3">
        <span *ngIf="occupiedSpace > 0"><b>{{occupiedSpace}} of 3</b>&nbsp;spaces occupied</span>
      </ngb-progressbar>
    </span>
  </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Select Your Content</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Select components to fill up your second row</p>
      <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect2('socialActivity')"
      [class.active]="socialActivity2" [disabled]="socialActivityDisabled2">Social Activity</button>
      <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect2('keywords')"
      [class.active]="keywords2" [disabled]="keywordsDisabled2">Keywords</button>
      <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect2('socialReach')"
      [class.active]="socialReach2" [disabled]="socialReachDisabled2">Social Reach</button>
      <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect2('engagement')"
      [class.active]="engagement2" [disabled]="engagementDisabled2">Engagement</button>
      <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect2('network')"
      [class.active]="network2" [disabled]="networkDisabled2">Network</button>
      <button type="button" class="btn btn-outline-primary content-btn" (click)="onSelect2('twitterTopic')"
      [class.active]="twitterTopic2" [disabled]="twitterTopicDisabled2">Twitter Topic Analysis</button>
    </div>
    <div class="modal-footer">
      <span class="progressbar">
        <ngb-progressbar [value]="occupiedSpace2" [type]="progressType2" [max]="3">
            <span *ngIf="occupiedSpace2 > 0"><b>{{occupiedSpace2}} of 3</b>&nbsp;spaces occupied</span>
        </ngb-progressbar>
      </span>
    </div>
  </ng-template>