.loading {
  flex: 1;
  display: flex;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.component-body {
  height: 19.5rem;
  overflow: auto;
  padding: 0;
}

.component-container {
  margin-bottom: 1rem;
}

.task-input-container {
  margin-top: 1rem;
}

.task-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.task-btn {
  margin-left: 0.5rem;
}

.content-btn {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.content-dashboard {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.content {
  padding: 0;
  margin-left: 13.1rem;
  position: absolute;
  left: 0;
  right: 0;
}

.task-container {
  background-color: #f2f2f2;
  padding: 1rem;
}

.task-heading {
  margin-bottom: 1rem;
}

.content-selection-tab {
  margin-top: 0.5rem;
}

.sidebar {
  padding: 1rem;
  background-color: #f2f2f2;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  max-width: 13rem;
}

.sidebar-content {
  max-width: 100%;
}

.social-container {
  max-width: 100%;
  display: flex;
}

.content-manager {
  margin-top: 1.5rem;
}

.content-manager-section {
  margin-bottom: 1rem;
}

.empty-card {
  cursor: pointer;
  height: 22.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.header-click {
  cursor: pointer;
}

.progressbar {
  width: 100%;
}

@media (max-width: 768px) {
  .content {
    position: relative;
    overflow: scroll;
  }
}