<div>
  <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
    <label ngbButtonLabel class="btn-outline-primary">
      <input ngbButton type="radio" value="Facebook">Facebook
    </label>
    <label ngbButtonLabel class="btn-outline-primary">
      <input ngbButton type="radio" value="Twitter">Twitter
    </label>
    <label ngbButtonLabel class="btn-outline-primary">
      <input ngbButton type="radio" value="Slack">Slack
    </label>
  </div>
  <nvd3 [options]="options" [data]="data"></nvd3>
</div>