<div class="text-center component-body">
  <!-- Buttons to select which social media platform data is shown in the engagement chart -->
  <div class="btn-group engagement-btn" ngbRadioGroup name="radioBasic" [(ngModel)]="selected" 
  (ngModelChange)="onSelect(selected)">
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
      <input ngbButton type="radio" value="Facebook">Facebook
    </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
      <input ngbButton type="radio" value="Twitter">Twitter
    </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
      <input ngbButton type="radio" value="Slack">Slack
    </label>
  </div>
  
  <nvd3 [options]="options" [data]="data"></nvd3>
</div>
